%ul.listings{:"data-role" => "listview", :"data-dividertheme" => "b"}
  %li{:"data-role" => "list-divider"} 
    Guardian articles about
    = @author
  - @res["results"].each do |result|
    %li
      %a{:href => "/guardian/article/#{result['id']}"}
        %h3.ui-li-heading= result["webTitle"]
        %p.ui-li-desc= friendly_standard_date(result["webPublicationDate"])
