%h3 About BookFest

%p 
  Created by 
  %a{:href => "http://tinnedfruit.com/", :target => "_blank"} 
    Jim Newbery
  %a{:href => "http://twitter.com/froots101", :target => "_blank"} 
    (@froots101)
  as part of 
  %a{:href => "http://culturehackscotland.com/", :target => "_blank"} 
    Culture Hack Scotland
  in May 2011.
  
%h4 Data Sources

%ul
  %li
    %a{:href => "http://projects.festivalslab.com/2010/", :target => "_blank"} 
      Edinburgh Festivals 2010 API
    to get event listings
  %li
    %a{:href => "http://code.google.com/apis/books/", :target => "_blank"} 
      Google Book Search API
    for bibliographies and author searching
  %li
    %a{:href => "http://dev.twitter.com/", :target => "_blank"} 
      Twitter Search API
    for Tweets
  %li
    %a{:href => "http://www.guardian.co.uk/open-platform", :target => "_blank"} 
      Guardian Open Platform
    for Guardian article search and content
  %li
    %a{:href => "http://code.google.com/apis/imagesearch/", :target => "_blank"} 
      Google image search API
    for image search
  
%h4 Source code

%p 
  Source code is available to fork and play with on 
  %a{:href => "http://github.com/froots/bookfest", :target => "_blank"} github