!!! 5
%head
  %meta{:charset => "utf-8"}
  %title Bookfest
  %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/
  %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black-translucent"}/
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  %link{:rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css"}
  %link{:rel => "stylesheet", :href => "/css/extras.css"}
  %script{:src => "http://code.jquery.com/jquery-1.5.2.min.js"}
  %script{:src => "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"}
  %script{:src => "/js/lib/interact.js"}

%body
  %div{:"data-role" => "page"}
    %div{:"data-role" => "header", :"data-position" => "fixed"}
      %h1 BookFest
      %a.ui-btn-right{:href => "/", :"data-icon" => "home", :"data-theme" => "b"} Home
                
    %div{:"data-role" => "content"}

      = yield

    %div{:"data-role" => "footer", :"data-position" => "fixed"}
      %h2
     
  :javascript
    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function(d, t) {
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
     g.async = true;
     g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g, s);
    })(document, 'script');
