%ul{:"data-role" => "listview", :"data-dividertheme" => "b"}
  %li{:"data-role" => "list-divider"} 
    Tweets about
    =@author 
%ul.tweets
  - @tweets.each do |tweet|
    %li
      %img.tweet-thumb{:src => tweet["profile_image_url"]}
      %h3
        = tweet["from_user"]
        %span.time
          = friendly_standard_date_time(tweet["created_at"])
      %p= tweet["text"]
      
     